# URL del backend principal.
VITE_BACKEND_URL=http://localhost:4000
VITE_BACKEND_WS_URL=ws://localhost:4000/ws

# Clerk
VITE_CLERK_PUBLISHABLE_KEY=pk_test_replace_me
# Plantilla JWT que el frontend pedirá a Clerk antes de llamar al backend.
VITE_CLERK_JWT_TEMPLATE=checkers-backend
